<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Spring Boot Thymeleaf App</title>
</head>
<script>
$("#submitBtn").click(function() {
  var price = "1.00";
  var supplier = "五号停机坪";
  $.post("relative-url.php", { price: price, supplier: supplier }, function(data) {
    console.log("提交成功！");
  });
});
</script>

<body>

    <form id='paying' action='https://pay.zzyun.com/submit.php/submit.php' method='post'>
        <input type='hidden' name='money' th:value="${price}"/>
        <input type='hidden' name='name' th:value="${supplier}"/>
        <input type='hidden' name='notify_url' value='http://pay.zzyun.com/notify_url.php'/>
        <input type='hidden' name='out_trade_no' th:value="${outTradeNo}"/>
        <input type='hidden' name='pid' value='11591'/>
        <input type='hidden' name='return_url' value='http://pay.zzyun.com/return_url.php'/>
        <input type='hidden' name='type' value='alipay'/>
        <input type='hidden' name='sign_type' value='MD5'/>
        <input type='hidden' name='sign' th:value="${sign}"/>
        <input type='submit' value='正在跳转'/>
    </form>
        <script>document.forms['paying'].submit();</script>


</body>
</html>